.show-time {
    height: 30vh;
    width: 70vw;
    border-radius: 15px;
    border: 2px solid lightcoral;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
        height: 55px;
        width: 50px;
    }
}